<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.running.repository.GCommentDao">

	<select id="selectByPostIdOrderByLevels" resultType="GComment">
		select * from g_comments where post_id=#{postId} 
			start with parent_id is null connect by prior id=parent_id order siblings by created_time
	</select>
	
	<select id="selectByUserId" resultType="GComment">
		select * from g_comments where user_id=#{user_id} order by id desc
	</select>
	

	<insert id="insertComment">
		insert into g_comments (post_id, user_id, nickname, ctext, created_time, modified_time, comment_type, secret, parent_id) 
			values(#{postId}, #{userId}, #{nickname}, #{ctext}, systimestamp, systimestamp, #{commentType}, #{secret}, #{parentId})
	</insert>

	<update id="updateComment">
		update g_comments set ctext=#{ctext}, secret=#{secret}, modified_time=systimestamp where id=#{id}
	</update>

	<delete id="deleteByPostId">
		delete from g_comments where post_id=#{postId}
	</delete>

	<delete id="deleteById">
		delete from g_comments where id=#{id}
	</delete>
	

</mapper>