<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwill.running.repository.GimagesDao">
  
      <!-- 포스트 이미지 첨부에 사용할 메서드 이름과 SQL 문장 -->
    <insert id="insertImages">
        insert into G_IMAGES (post_id, origin_name, uniq_name, image_path)
        values (#{postId}, #{originName}, #{uniqName}, #{imagePath})
    </insert>
  
    <update id="updateImagesPostId">
        update G_IMAGES
        set post_id = #{postId}
        where post_id is null
    </update>
    
    <select id="selectImagesByPostId" parameterType="integer" resultType="Gimages">
        select * from G_IMAGES where post_id = #{postId}
    </select>
    
    <delete id="deleteImages">
        delete from G_IMAGES where post_id = #{postId}
    </delete>
  </mapper>