<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.running.repository.NotificationDao">
	<select id="readAllByUserId" resultType="Notification">
		select * from notifications where user_id=#{userId} order by id desc
	</select>
	
	<select id="readUnreadByUserId" resultType="Notification">
		select * from notifications where user_id=#{userId} and checked=0
	</select>
	
	<insert id="insertNewNotification">
		insert into notifications (user_id, type, link, checked, content, created_time) 
		values (#{userId}, #{type}, #{link}, #{checked}, #{content}, systimestamp)
	</insert>
	
	<delete id="deleteNotification">
		delete from notifications where id=#{id}
	</delete>
</mapper>