<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.itwill.running.repository.TCalendarDao">
  	<!-- 일정 게시판 목록 보기 -->
  	<select id="selectTCalendarOrderByIdDesc" resultType="TCalendar">
  		select * from T_Calendars where team_id = #{teamId} order by id desc
  	</select>
  	
  	<!-- 일정 글 상세보기 -->
  	<select id="selectTCalendarById" resultType="TCalendar">
  		select * from T_Calendars where id = #{id} and team_id = #{teamId}
  	</select>
  	
  	<!-- 일정 새글 작성 -->
  	<insert id="insertTCalendar" parameterType="TCalendar"
	        useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	    insert into T_Calendars (team_id, title, user_id, nickname, date_time, content,
	                             current_num, max_num, created_time, modified_time)
	    VALUES (#{teamId}, #{title}, #{userId}, #{nickname}, #{dateTime, jdbcType=TIMESTAMP},
	            #{content}, #{currentNum}, #{maxNum}, SYSTIMESTAMP, SYSTIMESTAMP)
	</insert>
	
	<!-- 현재 인원 수 증가 & 감소 -->
	<update id="updateCurrentNum" parameterType="map">
	    UPDATE t_calendars
	    SET current_num = current_num + #{delta}
	    WHERE id = #{calendarId} AND team_id = #{teamId}
	    <if test="delta &lt; 0">
	        AND current_num &gt; 0
	    </if>
	    <if test="delta &gt; 0">
	        AND current_num &lt; max_num
	    </if>
	</update>

	<!-- 현재인원수와 최대 인원수를 조회하여 모집 종료 여부를 확인 -->
	<select id="getCurrentAndMaxNum" parameterType="map" resultType="map">
	    SELECT current_num, max_num
	    FROM t_calendars
	    WHERE id = #{calendarId} AND team_id = #{teamId}
	</select>
	
  	<!-- 일정 글 업데이트(최대인원수만 올릴 수 있음) -->
  	
  	<!-- 일정 글 삭제 -->
  	
  	<!-- 콤보박스와 키워드로 검색? -->
  </mapper>