<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.itwill.running.repository.TCalendarDao">
  	
  	<!-- 일정게시글 목록을 필터링하고 페이징, , filter(콤보박스로 선택) -> 1:전체 2:모집중인 게시글 3:모집종료된 게시글 -->
    <select id="selectCalendars" parameterType="map" resultType="TCalendar">
        SELECT *
        FROM T_Calendars
        WHERE team_id = #{teamId}
        <if test="filter != 1">
            AND (
                <if test="filter == 2">
                    <![CDATA[
                        current_num < max_num AND date_time > SYSDATE
                    ]]>
                </if>
                <if test="filter == 3">
                    <![CDATA[
                        current_num >= max_num OR date_time <= SYSDATE
                    ]]>
                </if>
            )
        </if>
        ORDER BY date_time ASC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <!-- 일정게시글의 총 개수를 카운트, filter(콤보박스로 선택) -> 1:전체 2:모집중인 게시글 3:모집종료된 게시글  -->
    <select id="countCalendars" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM T_Calendars
        WHERE team_id = #{teamId}
        <if test="filter != 1">
            AND (
                <if test="filter == 2">
                    <![CDATA[
                        current_num < max_num AND date_time > SYSDATE
                    ]]>
                </if>
                <if test="filter == 3">
                    <![CDATA[
                        current_num >= max_num OR date_time <= SYSDATE
                    ]]>
                </if>
            )
        </if>
    </select>
  	
  	<!-- 일정 글 상세보기 -->
  	<select id="selectTCalendarById" resultType="TCalendar">
  		select * from T_Calendars where id = #{id} and team_id = #{teamId}
  	</select>
  	
  	<!-- 일정 글 업데이트(최대인원수만 올릴 수 있음) -->
    <update id="updateMaxNum">
        UPDATE t_calendars SET max_num = #{maxNum} WHERE team_id = #{teamId} AND id = #{calendarId}
    </update>
  	
  	<!-- 일정 새글 작성 -->
  	<insert id="insertTCalendar" parameterType="TCalendar"
	        useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	    insert into T_Calendars (team_id, title, user_id, nickname, date_time, content,
	                             current_num, max_num, created_time, modified_time)
	    VALUES (#{teamId}, #{title}, #{userId}, #{nickname}, #{dateTime, jdbcType=TIMESTAMP},
	            #{content}, #{currentNum}, #{maxNum}, SYSTIMESTAMP, SYSTIMESTAMP)
	</insert>
	
	<!-- 현재 인원 수 증가 & 감소 -->
	<update id="updateCurrentNum" parameterType="map">
	    UPDATE t_calendars
	    SET current_num = current_num + #{delta}
	    WHERE id = #{id} AND team_id = #{teamId}
	    <if test="delta &lt; 0">
	        AND current_num &gt; 0
	    </if>
	    <if test="delta &gt; 0">
	        AND current_num &lt; max_num
	    </if>
	</update>

	<!-- 현재인원수와 최대 인원수를 조회하여 모집 종료 여부를 확인하기 위해 -->
	<select id="getCurrentAndMaxNum" parameterType="map" resultType="map">
	    SELECT current_num, max_num
	    FROM t_calendars
	    WHERE id = #{id} AND team_id = #{teamId}
	</select>

  	<!-- 일정 글 삭제 -->
  	<delete id="delete" parameterType="map">
        DELETE FROM t_calendars WHERE id = #{calendarId} AND team_id = #{teamId}
    </delete>
  	
  </mapper>